{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 items-center mt-3">
            <h1 class="mb-3">Login</h1>
            <form method="POST" class="form-group">
				{% csrf_token %}
				{{form|crispy}}
				<button type="submit" class="btn btn-success">Login</button>
			</form>
			<p><a href="/auth/register" >You don't have an account? Register now!</a></p>
			<p><a href="/auth/resetpassword" >Forgot your password?</a></p>
        </div>
    </div>
</div>
<style>
    .items-center {
        margin: auto; 
        align-content: center;
        align-items: center;
        text-align: center;
    }
</style>
{% endblock %}