{% extends "main/base.html" %}

{% block content %}
<h2>Create note</h2>
<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <uL>
        <li>
            <label for="content">Content</label>
            <textarea name="content" rows="4" cols="50"></textarea>
        </li>
        <li>
            <label for="is_encrypted">Encrypt</label>
            <input id="is_encrypted" type="checkbox" name="is_encrypted">
        </li>
        <li id="ispublic-element">
            <label for="is_public">Public</label>
            <input id="is_public" type="checkbox" name="is_public">
        </li>
        <li id="password-element" class="input-hidden">
            <label for="password_text">Password</label>
            <input id="password-input" type="password" name="password_text" >
        </li>
    </uL>
    <button type="submit" class="btn btn-success">Save</button>
    <button type="button"><a href="/notes">Cancel</a></button>
</form>
<style>
    .input-shown {
        display: block;
    }

    .input-hidden {
        display: none;
    }

</style>
<script>
    window.onload = () => {
        document.getElementById("is_encrypted").addEventListener("change", handleEncryptedCheckboxChange);
        document.getElementById("is_public").addEventListener("change", handlePublicCheckboxChange);
    }

    handleEncryptedCheckboxChange = () => {
        if (document.getElementById("is_encrypted").checked) {
            document.getElementById("password-element").className = "input-show";
            document.getElementById("password-input").required = true;
            document.getElementById("is_public").disabled = true;
            document.getElementById("is_public").checked = false;
        }
        else {
            document.getElementById("password-element").className = "input-hidden";
            document.getElementById("password-input").required = false;
            document.getElementById("is_public").disabled = false;
        }
    }

    handlePublicCheckboxChange = () => {
        if (document.getElementById("is_public").checked) {
            document.getElementById("is_encrypted").disabled = true
            document.getElementById("is_encrypted").checked = false
            document.getElementById("password-element").className = "input-hidden";
        }
        else {
            document.getElementById("is_encrypted").disabled = false
        }
    }
</script>
{% endblock %}