{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 text-lg-center mb-5 mt-5">
            <h2>Edit note</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6 items-center mb-5 mt-5">
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                <button type="submit" class="btn btn-success">Save</button>
                <a class="btn btn-outline-secondary" href="/notes">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .items-center {
        margin: auto;
        justify-self: start;
        align-content: center;
        align-items: center;
        text-align: center;
    }
</style>
{% endblock %}