{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 text-lg-center">
            <h2>Notes List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-5">
            <h2>My notes</h2>
            <a href="/notes/create" class="btn btn-outline-success btn-sm">Create Note</a>
            {% for note in notes %}
            <div class="card m-3">
                <div class="card-body items-center">
                    <!-- <h5 class="card-title">NOTE</h5> -->
                    <p class="card-text">{{note.content}}</p>
                   <a href="/notes/{{note.id}}/show"  class="btn btn-sm btn-outline-secondary p-1">Details</a>
                </div>
            </div> 
            {% endfor %}
        </div>
        <div class="col-4 p-5">
            <h2>Public notes</h2>
            <h4>(Notes created by other users)</h4>
            {% for public_note in public_notes %}
            <div class="card items-center m-3">
                <div class="card-body">
                    <!-- <h5 class="card-title">NOTE</h5> -->
                    <p class="card-text">{{public_note.content}}</p>
                    <a href="/notes/{{public_note.id}}/show"  class="btn btn-sm btn-outline-secondary p-1   ">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4 p-5">
            <h2>Files</h2>
            <h3>Not available yet</h3>
        </div>
    </div>
</div>
<style>
    .items-center {
        margin: auto;
        justify-self: start;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    input { 
        vertical-align: text-bottom; 
        border: 1px solid #CCC; 
        height: 24px; 
    }
</style>

{% endblock %}