{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 text-lg-center">
            <h2>Notes List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mt-3 items-center">
            <h3>My notes</h3> <button type="button" class="btn btn-outline-success"><a href="/notes/create" class="no-link" style="float: right;">Create Note</a></button>
        </div>
    </div>
    <div class="row items-center"></div>
    {% for note in notes %}
        <div class="col-3 mt-3 items-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NOTE</h5>
                    <p class="card-text">{{note.content}}</p>
                    <button class="btn btn-outline-secondary"><a href="/notes/{{note.id}}/show"  class="no-link">Details</a></button>
                  </div>
            </div>
        </div> 
    {% endfor %}
    </div>
    <h3>Other notes</h3>
    {% for public_note in public_notes %}
        <p>{{ public_note.content }} </p>
        <p>{{ public_note.created_on }} </p>
        <button><a href="/notes/{{public_note.id}}/show">Details</a></button>
    {% endfor %}
</div>
<style>
    .no-link {
        text-decoration: none !important;
        color: inherit;
    }
    .items-center {
        margin: auto;
        justify-self: start;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    input { 
        vertical-align: text-bottom; 
        border: 1px solid #CCC; 
        height: 24px; 
    }
</style>

{% endblock %}