{% extends "main/base.html" %}

{% block title %}

{% load staticfiles %}
<script src="{% static 'show-note.js' %}"></script>

{% endblock %}

{% block content %}
<h2>Note detail</h2>

{% if encrypted %}

    <form method='POST'>
        {% csrf_token %}
        <ul>
            <li>
                <input type="password" name="password_text" required>
            </li>
            <li>
                <button type="submit">Decrypt</button>
            </li>
        </ul>
    </form>

{% else %}

    {{ note.content }}
    {{ note.created_on }}


    {% if not public %}
    {% if not note.is_encrypted %}
    <button type="button"><a href="/notes/{{note.id}}/edit">Edit</a></button>
    {% endif %}
    <button type="button"><a href="/notes/{{note.id}}/delete">Delete</a></button>
    {% endif %}
    <button type="button"><a href="/notes/">Back</button>

{% endif %}
{% endblock %}