{% extends "main/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 text-lg-center mb-5 mt-5">
            <h2>Reset password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6 items-center mb-5 mt-5">
           <p>
               An email was send. Click the attached link to reset the password.
           </p>
           <a class="btn btn-sm btn-outline-secondary" href="/">Back</a>
           

            <p>
            Email template can be view in the console.
            </p>
    </div>
</div>
<style>
    .items-center {
        margin: auto;
        justify-self: start;
        align-content: center;
        align-items: center;
        text-align: center;
    }
</style>
{% endblock %}